<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "../css/style.css">
    <link rel="shortcut icon" href="../html/imagenes/FaceToFace.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <title>Face To Face</title>
</head>

<body>
    <header>
        <div class="divHeader">
            <div class="divLogoTitulo">
                <div class="divTitulo">
                    <div class="faceToFaceLogo">
                        <img src="../html/imagenes/logo.png" alt="">
                    </div>
                    <div>
                        <h1>Face To Face</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="divMenu">
            <div class="seleccionado">
                <a href="iniciarSesion.html">Iniciar Sesión</a>
            </div>
            <div class="seleccionado">
                <a href="registrarse.html">Registrarse</a>
            </div>

        </div>
    </header>
    <main>
        <div class="divMain">
            <div>
                <h2>Modificar perfil</h2>
            </div>
            <div class="contenedorLogin colorPerfil">
                <form class="formRegistro" action="" method="post">
                    <div><label>Email:</label></div>
                    <div><input type="text" readonly  name="nombre" class="colorBlock"></div>
                    <div><label>Contraseña:</label></div>
                    <div><input type="text" name="contrasena"></div>
                    <div><label>Nombre completo:</label></div>
                    <div><input type="text" name="nomCom"></div>
                    <div><label>Género:</label></div>
                    <div class=divRadio>
                        <input type="radio" name="genero" value="maculino"> Masculino
                        <input type="radio" name="genero" value="femenino"> Femenino
                        <input type="radio" name="genero" value="otro"> Otro
                    </div>
                    <div><label>Fecha de nacimiento:</label></div>
                    <div><input type="date" name="fecha"></div>
                    <div><label>Imagen de perfil:</label></div>
                    <div><input type="file" value="image/*" name="archivo"></div>
                    <div class="center gridColumnInicio"><button class="boton seleccionado">Modificar</button></div>
                </form>
            </div>
        </div>
    </main>

</body>

</html>