<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imagenes/logo.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <title>Face To Face</title>
</head>

<body>
    <header>
        <div class="divHeader">
            <div class="divLogoTitulo">
                <div class="divTitulo">
                    <div class="faceToFaceLogo">
                        <img src="/imagenes/logo.png" alt="">
                    </div>
                    <div>
                        <h1>Face To Face</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="divMenuPerfil">
            <div class="seleccionado divPerfil">
                <a href="/usuario/perfil">Perfil</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/usuario/amigos">Amigos</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/pregunta/preguntas">Preguntas</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/usuario/logout">Desconectarse</a>
            </div>
            <div class="divPerfil">
                <div class="divFotoPerfil"><img src="/usuario/imagenUsuario/<%=usuarioLogueado.FOTO%>" alt=""></div>
                <div class="divDatos"><%=usuarioLogueado.PUNTOS + " puntos"%></div>
            </div>
        </div>
    </header>
    <main>
        <div class="divMain">
            <div>
                <h2>Notificaciones</h2>
            </div>
            <%if(datos.notificaciones.length > 0) {%>
            <%datos.notificaciones.forEach(element => {%>
            <div class="divAddRespuesta">
                <div><label><%=element.TEXTO%></label></div>
                <div><a href="/notificacion/leido/<%=element.ID%>">Marcar como leido</a></div>
            </div>
            <%});%>
            <div class="center margenAbajo"><a class="botonCrearPregunta" href="/notificacion/leido">Marcar todos como
                    leido</a></div>
            <%} else {%>
            <div class="divAddRespuesta">
                <div><label>No tienes notificaciones ;(</label></div>
            </div>
            <%}%>
        </div>
    </main>
</body>
</html>