<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/html/imagenes/FaceToFace.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <title>Face To Face</title>
</head>

<body>
    <header>
        <div class="divHeader">
            <div class="divLogoTitulo">
                <div class="divTitulo">
                    <div class="faceToFaceLogo">
                        <img src="/html/imagenes/logo.png" alt="">
                    </div>
                    <div>
                        <h1>Face To Face</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="divMenuPerfil">
            <div class="seleccionado divPerfil">
                <a href="/perfil">Perfil</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/amigos">Amigos</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/preguntas">Preguntas</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/logout">Desconectarse</a>
            </div>
            <div class="divPerfil">
                <div class="divFotoPerfil"><img src="/imagenUsuario/<%=datos.foto%>" alt=""></div>
                <div class="divDatos"><%=datos.puntos + " puntos"%></div>
            </div>
        </div>
    </header>
    <main>
        <div class="divMain">
            <div>
                <h2>Preguntas Aleatorias</h2>
            </div>
            <div class="divPreguntas">
                <table class="centrarTexto">
                    <%if(datos.preguntas.length > 0) {%>
                    <% datos.preguntas.forEach(pregunta => { %>
                    <tr>
                        <td><a href="/verPregunta/<%=pregunta.ID%>"><%=pregunta.PREGUNTA%></a></td>
                    </tr>
                    <%})%>
                    <%} else {%>
                    <tr>
                        <td>No hay preguntas</td>
                    </tr>
                    <%}%>
                </table>
                <div class="center"><a class="botonCrearPregunta" href="/crearPregunta">¡Añade tus preguntas!</a></div>
            </div>
        </div>
    </main>

</body>

</html>