<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imagenes/logo.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <title>Face To Face</title>
</head>

<body>
    <header>
        <div class="divHeader">
            <div class="divLogoTitulo">
                <div class="divTitulo">
                    <div class="faceToFaceLogo">
                        <img src="/imagenes/logo.png" alt="">
                    </div>
                    <div>
                        <h1>Face To Face</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="divMenuPerfil">
            <div class="seleccionado divPerfil">
                <a href="/usuario/perfil">Perfil</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/usuario/amigos">Amigos</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/pregunta/preguntas">Preguntas</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/usuario/logout">Desconectarse</a>
            </div>
            <div class="divPerfil">
                <div class="divFotoPerfil"><img src="/usuario/imagenUsuario/<%=usuarioLogueado.FOTO%>" alt=""></div>
                <div class="divDatos"><%=usuarioLogueado.PUNTOS + " puntos"%></div>
            </div>
        </div>
    </header>
    <main>
        <div class="divMain">
            <div>
                <h2><%=datos.pregunta.PREGUNTA%></h2>
            </div>

            <div class="contenedorPregunta">
                <div class="infoSuperior">
                    <%if(!datos.pregunta.ID_RESPUESTA) {%>
                        <label>
                            No has contestado a esta pregunta
                        </label>
                        <a href="responderPregunta/<%=datos.pregunta.ID%>">Contestar pregunta</a>
                    <%} else {%>
                        <label>
                            Ya has respondido a esta pregunta
                        </label>
                    <%}%>
                </div>
                <div>
                    <h3>
                        L@s siguientes amig@s han contestado a esta pregunta:
                    </h3>
                </div>
                <div class="divResultadoBusqueda">
                    <div class="divPerfilEncontrado fondoAmarillo">
                        <div>Bruja Piruja</div>
                        <img class="imgPerfilBusqueda" src="imagenes/user1.png" alt="">
                        <a href="responderPreguntaAmigo.html">Adivinar</a>
                    </div>

                    <div class="divPerfilEncontrado fondoAmarillo">
                        <div>Hannibal Gomez</div>
                        <img class="imgPerfilBusqueda" src="imagenes/user2.png" alt="">
                        <a>Adivinar</a>
                    </div>

                    <div class="divPerfilEncontrado fondoRojo">
                        <div>Stuart Minion</div>
                        <img class="imgPerfilBusqueda" src="imagenes/user3.png" alt="">
                        <div class="colorRojo">Has fallado</div>
                    </div>

                    <div class="divPerfilEncontrado fondoVerde">
                        <div>Goomba</div>
                        <img class="imgPerfilBusqueda" src="imagenes/user4.png" alt="">
                        <div class="colorVerde">Has acertado</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>